<h1>Welcome to Coin Combination App</h1>
  <form action="/amount_input">
    <div class="form-group">
       <label for="amount_input">What amount would you like to return the change for?
  </label>
       <input id="amount_input" name="amount_input" class="form-control" type="Fixnum">
    </div>
    <button type="submit" class="btn-success">Send</button>
  </form>
